:root{
    --accent-1: #FF5814;
    --accent-2: #565656;
    --accent-3: #d54912;
    --accent-4: #484848;
    --text-1: #FFFFFF;
    --background: #1B1B1B;
}

.HomeBody{
    color: var(--text-1);
    border: none; 
    align-items: center;
}

.Card{
    background-color: var(--background);
    border-radius: 23px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: 700px;
    margin: 50px 0;
}

.CardTitle{
    color: var(--accent-1);
    font-size: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardTitle span{
    color: var(--text-1);
    font-family: Average;
}

.btnHomePrimary{
    background-color: var(--accent-1); 
}

.btnHomeSecondary{
    background-color: var(--accent-2);
}

.btnHomeBody{
    color: var(--text-1) ;
    width: 665px;
    border: none;
}


.btnHomeBody:active{
    background-color: var(--text-1) !important;
    color: var(--background) !important;
}

.btnHomePrimary:hover{
    background-color: var(--accent-3);
}

.btnHomeSecondary:hover{
    background-color: var(--accent-4);
}

.PageBody{
    display: flex;
    flex-direction: column;
}