:root{
    --accent-1: #FF5814;
    --accent-2: #565656;
    --text-1: #FFFFFF;
    --background: #1B1B1B;
}

.HomeBody{
    color: var(--text-1);
}

.Card{
    background-color: var(--background);
    width: 1195px;
    height: 776px;
    border-radius: 23px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardTitle{
    color: var(--accent-1);
    font-size: 128px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardTitle span{
    color: var(--text-1);
    font-family: Average;
}

.btnPrimary{
    background-color: var(--accent-1) !important; 
}

.btnSecondary{
    background-color: var(--accent-2) !important;
}

.btn{
    color: var(--text-1) !important;
    width: 665px !important;
    border: var(--background) !important;
}

.btn:hover{
    color: var(--background)!important;
}

