/* Base css for SignUp is shared on login.css */

/* Form Card */
.SignUpFormBody{
    background-color: var(--background);
    color: var(--text-1);
    border-radius: 39px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    width: 550px;
    height: 700px;
    margin: 100px ;
    padding: 60px 100px;
}
