
.HomeNavbar{
    background-color: var(--background);
    justify-content: space-between;
}

.NavLeft{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
}

.NavBrand{
    color: var(--text-1);
    font-family: Average;
}

.NavBrand:hover{
    color: var(--text-1);
}

.NavBrand img{
    height: 25px;
    margin: 10px;
} 

.NavLinks{
    display: flex;
}

.NavLinks:hover{
    color: var(--accent-1-dark);
}

.Link:focus{
    color: var(--accent-1);
}

.Link{
    padding: 0px 20px;
    color: var(--accent-1);
}

.btnNav{ 
    width: 100px;
    margin: 0px 20px;
}




